
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="body">
        <header>
        </header>
         <body>
           <h3>iperf3 test</h3>
           <br>
           <button id="send_request">iperf3 Test </button>
           <pre class="response" style="border: 2px solid black; width:50%; min-height:300px; padding:10px;"></pre>
                <p>The above box contains the output from the iperf3 test. The test will take ~25 seconds to run. </p>
         </body>
         <script
          src="https://code.jquery.com/jquery-1.12.4.min.js"
          integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
          crossorigin="anonymous"></script>
          <script type="text/javascript">
                $(function(){
                        $("#send_request").click(function(){
                                var url = '/run-script';
                                $("#send_request").prop('disabled', true);
                                $("#send_request").text('Please wait...');
                                $.post(url, function(response){
                                        $(".response").html(response);
                                        $("#send_request").prop('disabled', false);
                                        $("#send_request").text('iperf3 Test');
                                });
                        });
                });
          </script>
</html>
